    *, p{
        font-family: "Lato";
        font-weight: 300;
        font-size: 20px;
        line-height: 35px;
        color:#414141;
        letter-spacing: 1px
    }

    body{
    /* background-color:#8C24A5; */
        background-color:#fff;
        margin:0px;
        padding:0px;
    }

    h1, h2, h3, h4, h5, h6{
        font-family: "Teko";
        font-weight: 300;
    }

    p{
        font-family: "Lato";
        font-weight: 300;
    }

    input, textarea, .btn-main{
        border:1px solid #8C24A5 !important;
    }
    
    .menu-right{
        float:right !important;
    }

    .logo{
        line-height: 0px;
        color:#fff;
        margin:3px 0px 0px 0px;
    }

    .btn-main{
        background-color:#8C24A5 !important;
    }

    .mos{
        background-color:#8C24A5 !important;
        padding:3px;
    }

    .full-screen, .fill { 
        min-height: 100%;
        height: 100%;
    }

    .clean{
        margin:0px;
        padding:0px;
        position: relative;
        text-align: center;
    }

    .top-left {
        position: absolute;
        top: 0px;
        left: 0px;
        margin:0px;
      }

    .text-left, .text-right{
        text-align:left;
        margin:0px 0px 0px 5px;
        color:#fff !important;
        text-shadow: 0px 0px 3px #000000 !important;
    }

    .text-right{
        text-align: right;
    }

    .carousel{
        background-color: #fff;
    }

    .sticky{
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        z-index:999;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
    }

    .space{
        padding:90px 0px 90px 0px;
    }

    .white{
        color:#fff !important;
    }

    .enquiry-form{
        min-height:200px;
    }

    .quotation, .quotation-space-down{
        text-align:center;
        font-family: "Lato";
        font-weight: 100;
        font-size: 60px;
        font-style:italic;
        line-height: 85px;
        color:#414141;
        padding-top:40px;
    }

    .quotation-space-down{
        margin-bottom:100px;
    }

    .quotation-person{
        font-weight:600;   
    }
    
    .quotation-line{
        text-align:center;
        width:10%;
        height:3px;
        background:#8C24A5;
        color:#000;
        margin-top:20px;
    }

    .center{
        text-align:center !important;
    }

    .super-strong{
        font-weight: 600;
    }

    .footer{
        padding:30px 0px 20px 0px;
        background-color: #303030;
        color:#fff;
    }

    .footer-contact{
        margin:0px;
        font-size:13px;
    }

    .footer-contact-space{
        margin:0px 0px 15px 0px;
    }

    .stripe-bottom{
        width: 50%;
        height:2px;
        margin-top:15px;
        background-color:#8C24A5;
    }

    .map-border{
        border-left:2px solid #8C24A5;
        border-right:2px solid #8C24A5;
        padding:10px 10px 10px 10px;
    }

    .lead-image-space{
        margin:50px 0px 40px 0px;
        padding:0px 50px 0px 50px;
    }

    .top-space-60{
        padding:60px 0px 0px 0px;
    }

    @media screen and (max-width: 575px) {
        .container{
            padding:15px;
        }

        h1{
            font-size:50px !important;
        }

        .carousel{
            display:none !important;
        }
    }

    .left-violet{
        border-left: 5px solid rgba(140, 36, 165, 1.0);
    }

    .right-violet{
        border-right: 5px solid rgba(140, 36, 165, 1.0);
    }

    .both-violet{
        border-right: 5px solid rgba(140, 36, 165, 1.0);
        border-left: 5px solid rgba(140, 36, 165, 1.0);
    }

    .info-top{
        /* background-color:rgba(140, 36, 165, 0.7); */
        /* border-radius:10px; */
        padding:15px;
    }

    /* .back-violet{
        background-color:rgba(140, 36, 165, 0.7);
    } */

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* background-color:rgba(140, 36, 165, 0.7); */
        /* background-color:rgba(0, 0, 0, 0.85); */
        /* padding:15px 0px 15px 0px; */
    }

    .centered-paragraph-center, .centered-paragraph-left, .centered-paragraph-right{
        position: absolute;
        top: 50%;
        left:0px;
        transform: translate(0%, -50%);
        text-align: center;
    }

    .centered-paragraph-left{
        text-align:left;
    }

    .centered-paragraph-right{
        text-align:right;
    }

    .quotation-small{
        font-family: "Lato";
        font-weight:300;
        font-size:40px;
        line-height: 50px;
        color:#fff;
        margin-left:30px;
        font-style:italic;
        text-shadow:1px 1px 3px rgba(0,0,0,1.0);
    }

    .quotation-small-author{
        font-size:15px;
        line-height: 50px;
        font-weight:400;
        color:#8C24A5;
        text-shadow:none;
        background-color:#000;
        padding:3px 10px 5px 10px;
        border-radius: 10px;
    }

    .dark-back-sides{
        background-color:rgba(0, 0, 0, 0.85);
        padding:15px 15px 20px 15px;
        border-bottom-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    .lead{
        font-size:20px;
        line-height:25px;
    }

    .lead-one{
        font-size:25px;
        line-height:30px;
    }

    @media only screen and (min-width: 320px) and (max-width: 479px){
        
    }

    @media only screen and (min-width: 480px) and (max-width: 767px){
        .img-fluid{
            padding-left:10px;
            padding-right:10px;
        }                
    }

    @media only screen and (min-width: 768px) and (max-width: 991px){
        
    }

    @media only screen and (min-width: 992px){

    }

    /* @media screen and (max-width: 575px) {
        .container{
            padding:15px;
        }
        h1, h2, h3, h4, h5, h6{
            font-size:-100% !important;
        }
    } */

    /* @media screen and (max-width: 1200px) and (min-width: 980px) {
        #collapseOne > div, #headingOne {
            padding-left:65px;
            padding-right:0px;
        }
    } */